<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	      <title>Spring Boot</title>
	</head>
	<body>
	   <h3>Access Denied Exception</h3>

	   <div>
		    Logged in user: 
		    <b th:inline="text" class="user">[[${username}]]</b>
	    	<div>
		    	<div>Retourner sur la page d'accueil</div>
		    	<a href="/">Accueil</a>&nbsp;|&nbsp;
		    </div>
		    <form th:action="@{/logout}" method="POST">
		         <input type="submit" value="logout"/>
		    </form>
	   </div>
	    <p class="error" th:text="${errorMsg}">Error</p>
	</body>
</html>   